<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<!-- typeAliases는  xml에 resultType을 해주기 위해서 이렇게 만들어 놓으면 간단하게 사용할 수 있다.-->
	<typeAliases>
    	<typeAlias alias="user" type="com.test.exam.user.dto.User"/>
    	<typeAlias alias="board" type="com.test.exam.board.dto.Board"/>
    	<typeAlias alias="depart" type="com.test.exam.depart.dto.Depart"/>
    	<typeAlias alias="db" type="com.test.exam.db.dto.DB"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/test/exam/user/dao/sql/user_sql.xml" />
		<mapper resource="com/test/exam/board/dao/sql/board_sql.xml" />
		<mapper resource="com/test/exam/depart/dao/sql/depart_sql.xml" />		
		<mapper resource="com/test/exam/db/dao/sql/db_sql.xml" />
	</mappers>
	
</configuration>

